.card-custom:hover {
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 20px;
}

.custom-collection {
    height: 350px;
    width: 260px;
    margin: 5px;
    background-size: cover;
    border-radius: 4px;
    box-shadow: inset 3px 4px 250px #000;
}

.custom-collection span {
    font-size: 20px;
    display: block;
    padding-left: 8px;
    position: relative;
    top: 270px;
}

#loc-title {
    font-size: 40px;
}

#title {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
}

#Zomato {
    font-size: 85px;
    color: white;
    font-family: 'Passion One', cursive;
}

.bg-header {
    background-image: url("Images/food.jpg");
    box-shadow: inset 3px 4px 200px #000;
}

.custom-locality:hover {
    box-shadow: 1px 1px 5px rgb(209, 208, 208);
}

#custom-dropdown {
    border-radius: 4px;
    box-shadow: 1px 1px 1px 2px rgb(189, 189, 189);
    z-index: 1;
}

#custom-dropdown:hover #custom-dropdown-rest:hover {
    cursor: pointer;
    background-color: grey;
}

#custom-dropdown-rest {
    border-radius: 4px;
    box-shadow: 1px 1px 1px 2px rgb(189, 189, 189);
    z-index: 1;
}


#zomato-black {
    font-size: 35px;
    color: black;
    font-family: 'Passion One', cursive;
}

.hover-this:hover {
    cursor: pointer;
    background-color: rgb(224, 223, 223);
}

.g-signin2{
    position: relative;
    left: 180px ;
    top: -8px;
    margin: 5px;
}